<!-- DatePipe -->
<!-- <p>Today's Date: {{ today | date:'short' }}</p>
<p>Full Date: {{ today | date:'fullDate' }}</p> -->

<!-- UpperCasePipe -->
<!-- <p>Uppercase Message: {{ message | uppercase }}</p> -->

<!-- LowerCasePipe -->
<!-- <p>Lowercase Message: {{ message | lowercase }}</p> -->

<!-- CurrencyPipe -->
<!-- <p>Price: {{ price | currency:'INR' }}</p> -->

<!-- DecimalPipe -->
<!-- <p>Decimal Price: {{ price | number:'1.2-2' }}</p> -->

<!-- PercentPipe -->
<!-- <p>Percentage: {{ percentage | percent:'1.0-0' }}</p> -->

<!-- AsyncPipe
<p>Async Data: {{ observableData | async }}</p> -->

<!-- JsonPipe -->
<!-- <p>User Data (JSON): {{ userData | json }}</p> -->




