<div class="mat-elevation-z8">
  <div class="btn">
    <button mat-raised-button color="primary" (click)="addUser()">
      <mat-icon>person_add</mat-icon> Add User
    </button>
    <button mat-raised-button color="warn" (click)="deleteSelectedUsers()" [disabled]="selectedUsers.length === 0">
      <mat-icon>delete</mat-icon> Delete
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-table" multiTemplateDataRows matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let user">
        {{ user.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Photo </th>
      <td mat-cell *matCellDef="let user">
        <img [src]="user.picture?.thumbnail" alt="User Photo" class="user-photo">
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let user"> {{ user.name.title }} {{ user.name.first }} {{ user.name.last }} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let user"> {{ user.gender }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
    </ng-container>

    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> DOB </th>
      <td mat-cell *matCellDef="let user"> {{ user.dob.date | date:'yyyy-MM-dd' }} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let user"> {{ user.dob.age }} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let user"> {{ user.phone }} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let user"> {{ user.location.city }}, {{ user.location.country }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button color="primary" (click)="editUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="confirmDelete(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
