<!-- <h1>Hello Angular {{ title }}</h1> -->
<!-- 
<app-signup></app-signup>
<app-login></app-login> 
<app-forget-password></app-forget-password> -->


<!-- <app-template-driven-form></app-template-driven-form> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- <app-admission-form></app-admission-form> -->

<!-- <app-template-admission-form></app-template-admission-form> -->

<app-pipe-demo></app-pipe-demo>
<!-- created a service and access it in different components -->


 <!-- <app-component-a></app-component-a> 
 <hr>
 <hr>
 <app-component-b></app-component-b>  -->





<!-- <app-parent></app-parent> -->
<!-- <app-sender></app-sender> -->
<!-- <app-card-parent></app-card-parent> -->