
<p>Forget-password works!</p>
<div class="container">
  <div class="left"></div>
  <div class="right">
   
      <form #forgetPasswordForm="ngForm" (ngSubmit)="onSubmit(forgetPasswordForm)">
        <h2>Forget Password</h2>
        <div>
          <label for="emailid">Email Id:</label>
          <input type="email" id="emailid" name="emailid" placeholder="Enter Email Id" [(ngModel)]="email" #emailInput="ngModel" required email>             
            

          <!-- Validation Messages -->
          <div *ngIf="emailInput.invalid && emailInput.touched" style="color: red;">
            <p *ngIf="emailInput.errors?.['required']">Email is required.</p>
            <p *ngIf="emailInput.errors?.['email']">Enter a valid email address.</p>
          </div>

          <button type="submit" [disabled]="forgetPasswordForm.invalid" style="color: #fff;">
            Send Password
          </button>
        </div>
        <p>Back to <a href="loginForm.html">Log in</a> page</p>
      </form>
    
  </div>
</div>
